/* login */
.login_wrap{display:flex;align-items:center;justify-content:center;background:url(../images/bg_login.png) repeat;}
.login_box{width:400px;padding:30px 40px;border:1px solid #b2b2b2;border-top:10px solid #094fa3;background-color:#fff;box-sizing:border-box;box-shadow:1px 1px 3px rgba(0,0,0,.2);text-align:center;}
.login_box .ipt_wrap{text-align:left;margin-top:60px;}
.login_box .dl_list dt{margin-bottom:9px;}
.login_box .dl_list dt label{font-size:14px;}
.login_box .dl_list dd{margin-bottom:30px;}
.login_box .dl_list input[type="text"],
.login_box .dl_list input[type="password"]{width:100%;border:1px solid #d7d7d7;border-width:0 0 1px;padding:0;font-size:15px;}
.login_box input::-moz-input-placeholder,
.login_box input::-ms-input-placeholder,
.login_box input::placeholder{color:#ccc;}
.login_box input::-webkit-input-placeholder,
.login_box input:focus::-webkit-input-placeholder{color:#ccc;}
.login_box .dl_list input[type="checkbox"]{position:relative;top:-2px;}
.login_box .btn{width:100%;font-size:18px;line-height:42px;font-weight:600;;}
.login_box .copyright{margin-top:30px; color:#868789;font-size:11px;}

/* main */
.main{width:1200px;margin:0 auto;padding:60px 0;}
.main .tit{margin-bottom:5px;}
.main .tit h2{font-size:16px;color:#005a9e;background:url(../images/ico_tit.png) 0 2px no-repeat;font-weight:600;padding-left:19px;line-height:25px;}
.cont .f_sb .section{width:410px;}
.main .f_sb .section{width:500px;}
.occur{margin-top:20px;}
.sel_loc{margin-bottom:25px;}
.sel_loc button{display:flex;align-items:center;justify-content:center;width:100%;height:100%;font-weight:600;border:1px solid #ccd2d7;box-sizing:border-box;}
.sel_loc .loc_central{width:86px;height:auto;border-color:#999;margin-right:4px;padding-top:44px;font-size:14px;color:#000;background:url(../images/favicon.png) 50% 10px no-repeat;background-size:34px;}
.list_loc{display:flex;justify-content:space-between;flex-wrap:wrap;width:calc(100% - 90px);margin-top:-4px;}
.list_loc li{width:14%;height:35px;margin-top:4px;}
.sel_loc button:hover{background-color:#f5f5f5;}
.list_loc button:hover{border-color:#094fa3;}
.list_loc button{font-size:14px;color:#777;;}
.sel_loc .on{border:2px solid #094fa3;background-color:#f0f6fe;}
.stats_receive label{background-color:#ff0505;color:#fff;font-size:11px;border-radius:5px;padding:1px 5px 2px;}
.stats_receive label[for="mini-SEED"]{background-color:#ff7b05;}
.stats_receive label[for="mma"]{background-color:#ffd303;}
.stats_receive input{margin-left:10px;}
.main.local .f_sb .section_r{width:calc(100% - 630px);}
.main .evt_info{position:absolute;top:8px;left:8px;max-width:350px;}
.main .evt_info dt,
.main .evt_info dd{letter-spacing:-.01; line-height:1.2;text-shadow:1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;font-size:13px;}
.main .evt_info dt{width:70px;}
.main .evt_info dd{width:calc(100% - 70px);}

/* accident_info */
.tbl_tag{width:85px;border:1px solid transparent;border-radius:15px;text-align:left;padding:0 6px;font-weight:600;color:#fff;line-height:18px;}
.tbl_tag{width:auto;border:1px solid rgba(0,0,0,.2);}
.tbl_tag.tag1{background-color:#fd0505;}
.tbl_tag.tag2{background-color:#ff9227;}

/* rdata */
.eqEvt_dtl .section{width:650px;}
.eqEvt_dtl .section_r{width:calc(100% - 684px);margin-left:30px;}
.selfEvt_dtl .evt_info{margin-bottom:35px;}
.selfEvt_dtl .f_sb .section{width:600px;}
.selfEvt_dtl .f_sb .section_r{width:calc(100% - 630px);margin-left:30px;}
.selfEvt_dtl .tbl_row th{width:150px;;} 
.simul .gis_wrap{width:597px;}
.simul .section_r{width:calc(100% - 617px);}
.simul_ipt input{width:78px;}
.selfEvt_dtl .chart_wrap dt,
.selfEvt_dtl .chart_wrap dd{margin-bottom:0;}
.selfEvt_dtl .chart_wrap dt{font-size:14px;color:#094fa3;margin-bottom:5px;background-color:#efefef;font-weight:600;padding:5px 10px;box-sizing:border-box;text-align:left;}
.selfEvt_dtl .chart_wrap dd{margin-bottom:25px;}

/* maintenance */
.mta_mgt_dtl .tbl_blueTop th,
.mta_mgt_dtl .tbl_blueTop td{white-space:nowrap;}
.mta_mgt_dtl .tbl_blueTop th{width:18%;}
.mta_mgt_dtl .cost,
.mta_mgt_dtl .equip{margin-top:30px;}
.equip .tit_h3{margin-bottom:5px;}
.equip .acc{counter-reset:equip;}
.equip h4::after{counter-increment:equip;content:"#"counter(equip);margin-left:5px;}
.sensor{margin-top:20px;}
.sensor .tit{margin-bottom:5px;}
.sensor h5{font-weight:600;}
.sensor h5::before{content:"·";margin-right:3px;}

/* sys */
.sys_code .tit_h3,
.log_preview .tit_h3{margin-bottom:5px;}
.log_preview .box_gray{height:calc(100% - 30px);overflow-y:auto;}
.i_cp{position:relative;top:2px;content:"";display:inline-block;width:13px;height:13px;font-size:0;text-indent:-9999px;overflow:hidden;margin-right:4px;border:1px solid #666;}
